<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlNHgp2IJ4ZNW9yVWw5V0VMpgnO_4XrJM</string>
	<key>GCM_SENDER_ID</key>
	<string>694180273686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recycle</string>
	<key>PROJECT_ID</key>
	<string>codeforchanges</string>
	<key>STORAGE_BUCKET</key>
	<string>codeforchanges.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694180273686:ios:309b20b30970d12ddf9f37</string>
</dict>
</plist>